import AWS from 'aws-sdk';

export async function up(ddb: AWS.DynamoDB) {
    // TODO write your migration here.
}

export async function down(ddb: AWS.DynamoDB) {
    // TODO write the statements to rollback your migration 
}
